.container {
  display: flex;
  justify-content: space-between;
  width: min(87.2%, 32.7rem);
  margin: 3.2rem auto 0;
  color: var(--text-primary);
}

.main-heading {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.2rem;
  letter-spacing: -0.625px;
}

.invoice-count {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: -0.25px;
  color: var(--text-secondary);
  margin-top: 0.4rem;
}

.actions-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.8rem;
}

.add-new-invoice {
  background: #7c5dfa;
  border-radius: 24px;
  width: 9rem;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: -0.25px;
  color: var(--white);
  padding: 0.6rem 1.4rem 0.6rem 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.plus-icon-wrapper {
  background-color: var(--white);
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subheading {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.2rem;
  letter-spacing: -0.625px;
  text-align: center;
  margin-top: 30.3rem;
  position: relative;
  color: var(--text-primary);
}

.subheading::before {
  content: "";
  height: 16rem;
  width: 19.3rem;
  background-image: url("../assets/illustration-empty.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -20rem;
  left: 0;
  right: 0;
  margin-inline: auto;
}

.paragraph {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-align: center;
  letter-spacing: -0.25px;
  color: var(--text-secondary);
  width: min(53.6%, 20.1rem);
  margin: 2.4rem auto 0;
}

.emphasized-text {
  font-weight: 700;
}

/* Invoices */
.invoices-container {
  display: flex;
  flex-direction: column;
  width: min(87.2%, 32.7rem);
  margin: 3.2rem auto 10.5rem;
  gap: 1.6rem;
}
