.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--bg-header);
}

.logo-wrapper {
  width: 72px;
  height: 72px;
  background: var(--purple1);
  border-radius: 0px 20px 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.logo-wrapper::after {
  content: "";
  width: 72px;
  height: 36px;
  background: var(--purple2);
  border-radius: 20px 0px 20px 0px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.logo {
  z-index: 1;
}

.toggle-btn {
  margin: 0 2.4rem 0 auto;
}

.avatar-wrapper {
  padding: 20px 24px;
  border-left: 1px solid hsla(231, 20%, 36%, 1);
}

.avatar {
  width: 32px;
  border-radius: 50%;
}
