.summary {
  background: var(--bg-secondary);
  box-shadow: 0 10px 10px -10px rgba(72, 84, 159, 0.100397);
  border-radius: 8px;
  padding: 2.4rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: -0.25px;
  font-weight: 500;
  color: var(--text-primary);
}

.invoice-id {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  font-weight: 700;
  color: var(--grayish-purple1);
  margin-bottom: 2.4rem;
}

.id-value {
  color: var(--text-primary);
}

.payment-due-date {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin-bottom: 0.8rem;
  color: var(--text-tertiary-alt);
}

.payment-total {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: -0.8px;
}

.client-name {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  color: var(--text-tertiary);
}

.payment-status {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  border-radius: 6px;
  /* width: min(100%, 10.4rem); */
  width: 10.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.payment-status.paid {
  background-color: var(--green1-transparent);
  color: var(--green1);
}

.payment-status.pending {
  background-color: var(--orange1-transparent);
  color: var(--orange1);
}

.payment-status.draft {
  background-color: var(--bg-draft);
  color: var(--text-draft);
}

.status-text {
  position: relative;
}

.status-text::before {
  content: "";
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  left: -1.6rem;
}

.payment-status.pending .status-text::before {
  background-color: var(--orange1);
}

.payment-status.paid .status-text::before {
  background-color: var(--green1);
}

.payment-status.draft .status-text::before {
  background-color: var(--text-draft);
}
